<div class="img-polaroid slider">
  <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
    <div class="carousel-inner">
      <%= render_deal_photos_for_slide(@deal) %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
  </div>
</div>