<table class="table table-striped">
  <thead>
    <th width="65px"></th>
    <th>留言內容</th>
    <th width="150px">時間</th>
  </thead>
  <tbody>
  <% if comments.present? %>
    <% comments.each do |comment| %>
    <%= render_comment_hidden_or_not(comment) %>
    <% end -%>
  <% else %>
    <tr><td colspan="3">目前沒有關於此商品的留言</td></tr>
  <% end -%>
  </tbody>
</table>