<table class="table table-striped">
  <thead>
    <th width="65px"></th>
    <th>問題內容</th>
    <th width="150px">時間</th>
  </thead>
  <tbody>
  <% comments.each do |comment| %>
  <tr>
    <td><%= render_comment_avatar_name(comment) %></td>
    <td><%= render_comment_content(comment) %></td>
    <td><%= render_comment_datetime(comment) %></td>
  </tr>
  <% end -%>
  
  </tbody>
</table>