<table class="table">
  <%= simple_form_for(@deal.comments.new, :url => deal_comments_path(@deal) ) do |f| %>
  <tr>
    <td colspan="11">
      <%= f.input :content, :label => false, :placeholder => "請輸入留言", :as => "text", :input_html => {:cols => "120", :rows => "5"} %>
    </td>
    <td><%= f.input :hidden, :label => "是否隱藏留言 ? " %></td>
    <td>
      <%= f.button :submit, "留言" ,:disable_with => "請稍候...", :class => "submit-form btn-success btn-large" %>
    </td>
  </tr>
<% end %>
</table>