<%= render :partial => "common/page_header" %>
<div class="span6 offset3 well">
  <div class="box clearfix" align="center">
    <h3>使用Facebook登入，輕鬆交易二手Apple商品。</h3>
    <br>
    <div align="center">
    <%= link_to("使用 Facebook 登入", Setting.domain + user_omniauth_authorize_path(:facebook) , :class => "btn btn-facebook") %> 
    </div>
  </div>
</div>