<div class="span12 well" align="center">
  <h3><%= @board.name %> 二手交易板</h3>
</div>
<div class="span12">
  <% if current_user.present? %>
  <%= link_to("張貼", new_board_deal_path(@board), :class => "btn btn-primary")%>
  <% end %>
  <p></p>
  <% if @deals.empty? %>
  <div align="center">
  <h3 class="well"> 目前沒有相關交易 </h3>
  </div>
  <% else %>
  <%= render "deal_lists" %>
  <% end %>
</div>