<p><%= @resource.email %> 您好：</p>

<p>有人要求我們重設您的密碼，您可以點選下列連結以確認重設。</p>

<p><%= link_to '重設我的密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您並未要求重設密碼，請忽略此郵件。</p>
<p>在您點選上列連結、並建立新密碼之前，您的密碼並不會改變。</p>


<p>感謝您使用我們的服務，有任何不清楚的地方，歡迎您來信詢問。</p>

