<header class="header">
	<div class="container">
		<div class="row">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="brand-wrapper">
						<%= link_to(root_path, :class => "brand") do %>
							Mac<span>2Hand</span>
						<% end -%>
					</div>
					<%= render_list :class => "nav" do |li| %>
		        <% li << link_to("所有交易", "/deals") %>
		        <%# li << link_to("Contact", "/contact_us") %>
						<% if current_user %>
							<% li << link_to(current_user.name, account_path, :class => "username") %>
							<% li << link_to("登出", "/logout") %>
						<% else %>
							<% li << link_to( "登入", new_user_session_path, :class => "username" ) %>
							<% li << link_to( "註冊", new_user_registration_path) %>
						<% end %>
	        <% end %>
				</div>
			</div>
		</div>
	</div>
</header>